<!-- Sidebar -->

<div class="sidebar">
  <div class="title-container">
    <h1>SLACA 2019</h1>
  </div>
  <div>
    <img src="assets/images/logo.png" alt="logo-tipo" />
  </div>
  <div class="menu-container">
    <ul>
      <li>
        <a href="">Apresentação</a>
      </li>
      <li>
        <a href="">Comitês</a>
      </li>
      <li>
        <a href="">Autores</a>
      </li>
      <li>
        <a href="">Eixos temáticos</a>
      </li>
      <li class="active">
        <a href="">Trabalhos</a>
      </li>
      <li>
        <a href="">Contato</a>
      </li>
    </ul>
  </div>
</div>

<div class="menu">
  <!-- Toolbar -->
  <div class="header" role="banner">
    <div>
      <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
      <p>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</p>
      <p>ISSN: 1234-5678</p>
    </div>
    <div class="header-login">
      <div class="select-container">
        <select name="" id="">
          <option value="">PT, BR</option>
        </select>
        <img
          src="assets/images/language-image.png"
          alt="simbolo da linguagem"
          class="select-icon"
        />
      </div>
      <div class="login-container">
        <div>
          <p>Bem vindo!</p>
          <p>alguem12@galoascience.com</p>
        </div>
        <div class="profile-container">
          <img src="assets/images/profile.png" alt="foto do perfil" />
          <div class="notification">
            <p>7</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Content -->
<div class="main-content">
  <h2 class="title">
    Análise sensorial de preparações funcionais desenvolvidas para escolares
    entre 09 e 15 anos, do município de Campinas/SP
  </h2>

  <div class="buttons">
    <div>
      <div>
        <img
          src="assets/images/download-button.png"
          alt="botão para download"
        />
      </div>
      <div><img src="assets/images/favorite-button.png" alt="favoritar" /></div>
      <div><img src="assets/images/doi-button.png" alt="botao DOI" /></div>
    </div>
    <div>
      <p>COMO CITAR ESSE TRABALHO?</p>
    </div>
  </div>

  <div class="banner">
    <img src="assets/images/video.png" alt="Vídeo de Apresentação" />
  </div>

  <div class="details">
    <div class="details-template">
      <div class="template-h3-content">
        <h3 class="template-h3">Detalhes</h3>
      </div>
      <div>
        <p>
          Tipo de Apresentação: <strong>Pôster</strong> <br />
          Eixo temático: <strong>Alimentação e saúde (AS)</strong> <br />
          Palavras-chaves:
          <strong>Alimentos funcionais, alimentação escolar</strong> <br />
          <br />
        </p>
        <h3>Autores:</h3>
        Galileo Galilei<sup><a href="#nota1" id="ref1">1</a></sup> <br />
        Berta Lange<sup><a href="#nota2" id="ref2">2</a></sup> <br />
        Isaac Newton<sup><a href="#nota3" id="ref3">3</a></sup> <br />
        Cesar Lattes<sup><a href="#nota1" id="ref1">1</a></sup> <br />
        Stephen Hawking<sup><a href="#nota4" id="ref4">5</a></sup> <br />
        <ol>
          <li id="nota1">
            Universidade Estadual de Campinas
            <a href="#ref1"></a>
          </li>
          <li id="nota2">
            Universidade de São Paulo
            <a href="#ref2"></a>
          </li>
          <li id="nota3">
            Instituto Nacional de Pesquisas Espaciais
            <a href="#ref3"></a>
          </li>
          <li id="nota4">
            Universidade Federal do Rio de Janeiro
            <a href="#ref4"></a>
          </li>
          <!-- Outras notas podem ser adicionadas aqui -->
        </ol>
        <br />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>

  <div class="resume">
    <div class="resume-content">
      <div class="template-h3-content">
        <h3 class="template-h3">Resumo</h3>
      </div>
      <div class="resume-content-text" [class.expanded]="isExpanded">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae
        turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris,
        egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna
        ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan
        sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut.
        Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed
        id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac
        gravida eros vestibulum Phasellus condimentum orci id leo condimentum
        lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in
        sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum
        nisl, vel aliquet enim accumsan sit ametl accumsantLorem ipsum dolor sit
        amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis
        felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus
        et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida.
        Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec
        finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus
        condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl
        metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida
        eros vestibulum Phasellus condimentum orci id leo condimentum lobortis
        et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien
        scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl, vel
        aliquet enim accumsan sit ametl accumsanteros sed magna ultricies gravida.
        Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec
        finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus
        condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl
        metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida
        eros vestibulum Phasellus condimentum orci id leo condimentum lobortis
        et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien
        scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl, vel
        aliquet enim accumsan sit ametl accumsanteros sed magna ultricies gravida.
        Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec
        finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus
        condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl
        metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida
        eros vestibulum Phasellus condimentum orci id leo condimentum lobortis
        et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien
        scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl, vel
        aliquet enim accumsan sit ametl accumsanteros sed magna ultricies gravida.
        Etiam aliquam.
      </div>
      <button class="btn-show-more" (click)="toggleContent()">ver mais</button>
    </div>
  </div>

  <div class="comments">
    <div class="comments-content">
      <div class="template-h3-content">
        <h3 class="template-h3">Discussões</h3>
      </div>

      <div class="comments-send-topic custom-border" *ngIf="!showForm && !formSubmitted">
        <div>
          <h4>Compartilhe suas ideias ou dúvidas com os autores!</h4>
        </div>
        <div>
          <img src="assets/images/icone1.png" alt="icone 1 dos comentários" />
          <img src="assets/images/icone2.png" alt="icone 1 dos comentários" />
          <img src="assets/images/icone3.png" alt="icone 1 dos comentários" />
        </div>
        <div>
          <p>
            Sabia que o maior estímulo no desenvolvimento científico e cultural
            é a curiosidade? Deixe seus questionamentos ou sugestões para o
            autor!
          </p>
        </div>
        <button (click)="toggleForm()" class="btn-create-topic">
          <img src="assets/images/icon-criar.png" alt="icone de +">
          <p>criar tópico</p>
        </button>
      </div>

      <!-- screen 2 -->
      <div *ngIf="showForm" class="comments-send-topic-screen2 custom-border">
        <div>
          <p>
            Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!
          </p>
        </div>
        <form>
          <div>
            <label for="assunto">Assunto</label>
            <input
              type="text"
              id="assunto"
              name="assunto"
              placeholder="Defina um tópico sucinto para notificar os autores..."
              class="subject"
            />
          </div>

          <div>
            <label for="conteudo">Conteúdo</label>
            <textarea
              id="conteudo"
              name="conteudo"
              rows="6"
              cols="50"
            ></textarea>
          </div>

          <div>
            <button (click)="submitForm($event)">Enviar</button>
          </div>
        </form>
      </div>

      <!-- screen 3 (acknowledgment)-->
      <div  *ngIf="formSubmitted" class="comments-send-topic-screen3 custom-border">
        <div>
          <h4>Seu tópico foi enviando com sucesso! :D</h4>
        </div> 
        
          <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!</p>
          <p>Descubra outros trabalhos!</p>
             
        <button (click)="createNewForm()">
          <img src="assets/images/botao-criar-novo-topico.png" alt="botão de criar um novo tópico">
        </button>
      </div>

      <div class="comments-topics">
        <!-- comentario adicionado -->
        <div *ngIf="showTopic" class="answered-topic">
          <div class="overlay">
            <div>
              <img src="assets/images/simbolo.png" alt="simbolo 'check'">
              <p>Aguardando feedback dos autores</p>
              <button>Editar tópico</button>
            </div>
          </div>
          <h5>Assunto da pergunta aparece aqui</h5>
          <p>Carlos Henrique Santos</p>
          <p class="ops-topic-subject">
            Comecinho da pergunta aparece aqui resente relato inscreve-se no
            campo da análise da dimensão e impacto de processo formativo situado
            impacto de processo formativo processo...
          </p>
          <div class="topics-actions">
            <div>
              <img
                src="assets/images/mais-informacoes.png"
                alt="botao de mais informações do tópico"
              />
            </div>
            <div>
              <img
                src="assets/images/favoritar.png"
                alt="botao de favoritar o tópico"
              />
            </div>
            <div>1 like</div>
            <div>1 resposta</div>
          </div>
        </div>
        
        <br />
      
        <!-- comentarios padroes -->
        <div class="topics answered-topic">
          <h5 class="ops-topic-subject">Assunto da pergunta aparece aqui</h5>
          <p>Carlos Henrique Santos</p>
          <p class="comments-container">
            Comecinho da pergunta aparece aqui resente relato inscreve-se no
            campo da análise da dimensão e impacto de processo formativo situado
            impacto de processo formativo processo...
          </p>
          <div class="topics-actions">
            <div>
              <img
                src="assets/images/mais-informacoes.png"
                alt="botao de mais informações do tópico"
              />
            </div>
            <div>
              <img
                src="assets/images/favoritar.png"
                alt="botao de favoritar o tópico"
              />
            </div>
            <div>1 like</div>
            <div (click)="toggleComment()" class="">4 resposta</div>
          </div>
        </div>

        
        <!-- comments -->
        <div *ngIf="showComments" class="topic-comments">
          <div>          
              <p>Adriano da Silva </p>
              <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
          </div>
          <div>          
              <p>Carlos Henrique dos Santos </p>
              <p>Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo formativo situado impacto de processo formativo.
                  <br /><br />
                Obrigada pela resposta, muito interessante o seu trabalho! </p>
          </div>
          <div>          
              <p>Camila Ferreira Andrade </p>
              <p>Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.
                <br /><br />
                Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
          </div>
          <div>          
              <p>Ana Carolina </p>
              <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
          </div>
        </div>
        

        <Br />

        <div class="topics">
          <h5>Assunto da pergunta aparece aqui</h5>
          <p>Carlos Henrique Santos</p>
          <p>
            Comecinho da pergunta aparece aqui resente relato inscreve-se no
            campo da análise da dimensão e impacto de processo formativo situado
            impacto de processo formativo processo...
          </p>
          <div class="topics-actions">
            <div>
              <img
                src="assets/images/mais-informacoes.png"
                alt="botao de mais informações do tópico"
              />
            </div>
            <div>
              <img
                src="assets/images/favoritar.png"
                alt="botao de favoritar o tópico"
              />
            </div>
            <div>1 like</div>
            <div (click)="toggleComment()">1 resposta</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<footer>
  <div>
    <div>
      <img src="assets/images/footer.png" alt="footer" />
    </div>
    <div>
      <p>
        <strong
          >Preservar a memória do evento e ampliar o acesso ao conhecimento
          científico</strong
        >
        gerado em eventos é a razão de ser da plataforma Galoá Proceedings.
      </p>
      <br />
      <p>
        Os tabalhos publicados aqui têm maior alcance e ficam disponíveis para
        toda a cominidade científica, mantendo acesso o debate científico
        fomentado pelos encontros e aumentando o impacto do evento.
      </p>
    </div>
  </div>
</footer>
