<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Sidebar -->

<div class="sidebar">
  <div class="title-container">
    <h1>SLACA 2019</h1>
  </div>
  <div>
    <img src="assets/images/logo.png" alt="logo-tipo" />
  </div>
  <div class="menu-container">
    <ul>
      <li>
        <a href="">Apresentação</a>
      </li>
      <li>
        <a href="">Comitês</a>
      </li>
      <li>
        <a href="">Autores</a>
      </li>
      <li>
        <a href="">Eixos temáticos</a>
      </li>
      <li class="active">
        <a href="">Trabalhos</a>
      </li>
      <li>
        <a href="">Contato</a>
      </li>
    </ul>
  </div>
</div>

<div class="menu">
  <!-- Toolbar -->
  <div class="header" role="banner">
    <div>
      <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
      <p>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</p>
      <p>ISSN: 1234-5678</p>
    </div>
    <div class="header-login">
      <div class="select-container">
        <select name="" id="">
          <option value="">PT, BR</option>
        </select>
        <img
          src="assets/images/language-image.png"
          alt="simbolo da linguagem"
          class="select-icon"
        />
      </div>
      <div class="login-container">
        <div>
          <p>Bem vindo!</p>
          <p>alguem12@galoascience.com</p>
        </div>
        <div class="profile-container">
          <img src="assets/images/profile.png" alt="foto do perfil" />
          <div class="notification">
            <p>7</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Content -->
<div class="main-content">
  <h2 class="title">
    Análise sensorial de preparações funcionais desenvolvidas para escolares
    entre 09 e 15 anos, do município de Campinas/SP
  </h2>
  <div class="item buttons">buttons</div>
  <div class="item banner">banner</div>
  <div class="item details">details</div>
  <div class="item resume">resume</div>
  <div class="item send-comments">send-comments</div>
  <div class="item comments">comments</div>
  <div class="item comments">comments</div>
</div>
