:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.template-h3-content {
  height: 50px;
  background-color: #fdf1eb;
}

.template-h3 {
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  padding: 12px;
  border-bottom: 1px solid #cccccc;
}

.custom-border {
  background-image: linear-gradient(
    to right,
    transparent 40px,
    #e7e7e7 0px,
    #e7e7e7 97%,
    transparent 90%
  );
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: bottom;
}

.spacer {
  flex: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: #fff;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 68px;
  background-image: linear-gradient(to bottom, #ffb354, #ee7a3a);
}

.sidebar-title h1 {
  margin: 0px;
  text-align: center;
  color: #ffff;
}

.sidebar-menu ul {
  padding-inline-start: 0;
}

.sidebar-menu ul li {
  display: flex;
  align-items: center;
  list-style: none;
  width: 220px;
  height: 35px;
  border-bottom: 2px solid #e7e7e7;
  padding: 5px 0;
}

.sidebar-menu ul li.active {
  position: relative; 
  background-color: #fdf1eb;
}

.sidebar-menu ul li.active::before {
  content: ""; 
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px; 
  background: linear-gradient(
    to bottom,
    #ffb354,
    #ee7a3a
  ); 
}

.sidebar-menu ul li a {
  margin-left: 24px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 19px;
  text-align: left;
  color: #725c5c;
}

.top-bar {
  margin: -8px -8px 0 210px;
}

.top-bar-title {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf1eb;
  color: #fff;
  font-weight: 600;
}

.top-bar-title > div:nth-child(1) {
  margin-left: 36px;
}

.top-bar-title > div:nth-child(2) {
  margin-right: 36px;
}

.top-bar-title > div > p {
  color: #725c5c;
}

.top-bar-title > div > p:nth-child(2) {
  font-size: 22px;
  line-height: 25.78px;
}

.top-bar-title > div > p {
  font-size: 14px;
  line-height: 16.41px;
}

.top-bar-actions {
  display: flex;
}

.top-bar-actions > div {
  display: flex;
}

.top-bar-actions > div select {
  height: 34px;
  width: 117px;
  margin-right: 22px;
  background-color: transparent;
  border-radius: 4px;
  border-color: #cccccc;
}

.top-bar-actions > div select option {
  text-align: center;
}

.language-selector {
  position: relative;
  display: inline-block;
}

.select-icon {
  position: absolute;
  top: 45%;
  left: 8px;
  transform: translateY(-50%);
  height: 20px; 
  pointer-events: none; 
}

.user-info > div {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 8px;
}

.user-info > div > p {
  font-family: Quicksand, sans-serif;
  line-height: 17.5px;
  font-weight: lighter;
  color: #333333;
}

.profile-container {
  position: relative;
}

.notification {
  position: absolute;
  width: 12px; 
  height: 12px; 
  background-color: #ff0000; 
  border-radius: 50%; 
}

.notification p {
  color: #fff;
  font-size: 11px;
  margin-left: 3px;
  margin-top: -3px;
}

.content-section {
  padding: 20px 31px;
  margin-left: 222px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.article-title {
  grid-column: 1/3;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #ed7839;
}

.action-buttons {
  height: 68px;
}

.action-buttons > div:nth-child(1),
.action-buttons > div:nth-child(2) {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.action-buttons > div:nth-child(1) > div:nth-child(1) {
  width: 120px;
  height: 31px;
  padding: 6px, 12px;
  border-radius: 4px;
  gap: 5px;
  background-color: #ed7839;
}

.action-buttons > div:nth-child(1) > div:nth-child(2),
.action-buttons > div:nth-child(1) > div:nth-child(3) {
  width: 43px;
  height: 31px;
  padding: 6px, 12px;
  border-radius: 4px;
  gap: 5px;
  background-color: #ed7839;
}

.action-buttons > div:nth-child(2) p {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: right;
  color: #ed7839;
}

.article-banner {
  grid-column: 1/3;
}

.article-banner img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.article-details {
  display: flex;
  justify-content: end;
}

.details-template {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  height: 100%;
  width: 330px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.details-template div:nth-child(2) {
  height: 498px; 
  overflow-y: auto; 
  padding: 16px;
}

.article-summary,
.comments {
  grid-column: 1/4;
}

.summary-content {
  font-size: 16px;
  height: 100%;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.summary-content button {
  background-color: transparent;
  border: none;
  color: #ed7839;
  font-weight: bold;
  font-size: 16px;
  font-family: Quicksand, sans-serif;
  cursor: pointer;
}

.summary-content div:nth-child(2) {
  padding: 15px;
}

.summary-content-text {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s ease;
}

.expanded {
  height: auto;
}

.comments-content {
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.comments-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 224px;
  gap: 24px;
}

.comments-intro div:nth-child(1) {
  margin-top: 27px;
}

.comments-intro div:nth-child(2) {
  display: flex;
  gap: 48px;
}

.comments-intro div:nth-child(3) {
  width: 800px;
}

.comments-intro h4 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ed7839;
}

.comments-intro p {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.btn-create-topic {
  display: flex;
  gap: 12px;
  background: linear-gradient(to right, #FEB254, #F0813D);
  width: 133px;
  padding: 8px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

}

.btn-create-topic p{
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  color: #fff;
}

.comments-intro-screen2 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 16px;
}

.comments-intro-screen2 > div p {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.comments-intro-screen2 form {
  padding: 16px 24px
}

.comments-intro-screen2 form label {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #ed7839;
  padding: 10px 0 10px 0;
}

.comments-intro-screen2 form > div {
  display: flex;
  flex-direction: column;
}

.comments-intro-screen2 form > div input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 39px;
}

.comments-intro-screen2 form > div textarea {
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.comments-intro-screen2 form > div button {
  height: 33px;
  width: 21em;
  background-image: linear-gradient(to bottom, #feb154, #f1833e);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: Quicksand;
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  cursor: pointer;
}

.comments-intro-screen2 form > div:nth-child(3) {
  display: flex;
  align-items: end;
  background-color: #eaf1f2;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.comments-intro-screen3 {
  position: relative;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-intro-screen3 div h4 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #ED7839;
  margin: 16px 0 18px 0;

}

.comments-intro-screen3 p:nth-of-type(1) {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #595959;
  margin-bottom: 24px;
}

.comments-intro-screen3 p:nth-of-type(2) {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  color: #F48F44;
  text-decoration: underline;
}

.comments-intro-screen3 button {
  position: absolute;
  top: 144px;
  background-color: transparent;
  border: none;
}

.published-topics {
  margin-top: 16px;
  padding: 16px 24px;
}

.published-topics div > h5 {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #ed7839;
}

.published-topics div > p:nth-of-type(1) {
  font-family: Quicksand, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  color: #5c5c5c;
}

.published-topics div > p:nth-of-type(2) {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0;
}

.answered-topic {
  position: relative; 
  padding: 15px;
}

.answered-topic button {
  background: none;
  border: none;
  text-decoration: underline;
  color: #ED7839; 
}

.topics {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}

.topic-comments {
  padding: 16px;
}

.topic-comments > div{
  margin-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 24px;
}

.overlay {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(231, 231, 231, 0.9);  
  z-index: 10;
  border-radius: 4px;
}

.overlay div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  margin-top: 16px;
}

.topics-actions {
  display: flex;
  gap: 15px;
}

.topics-actions div {
  font-family: Segoe UI;
  font-size: 14px;
  line-height: 19px;
  color: #757575;
  font-weight: lighter;
}

footer {
  font-family: Quicksand, sans-serif;
  margin-left: 222px;
  margin-top: 48px;
}

footer > div {
  display: flex;
  align-items: center;
  border-top: 1px solid #e7e7e7;
  padding: 16px 0 0 16px;
}

footer div > div:nth-child(2) {
  margin: 0px 0 32px 32px;
}

