:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: #fff;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 68px;
  background-image: linear-gradient(to bottom, #ffb354, #ee7a3a);
}

.title-container h1 {
  margin: 0px;
  text-align: center;
  color: #ffff;
}

.menu-container ul {
  padding-inline-start: 0;
}

.menu-container ul li {
  display: flex;
  align-items: center;
  list-style: none;
  width: 220px;
  height: 35px;
  border-bottom: 2px solid #e7e7e7;
  padding: 5px 0;
}

.menu-container ul li.active {
  position: relative; /* Necessário para o posicionamento do pseudo-elemento */
  background-color: #fdf1eb;
}

.menu-container ul li.active::before {
  content: ""; /* Necessário para o pseudo-elemento ser exibido */
  position: absolute; /* Absoluto em relação à li */
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px; /* Largura da "borda" */
  background: linear-gradient(
    to bottom,
    #ffb354,
    #ee7a3a
  ); /* Aqui, o gradiente é aplicado */
}

.menu-container ul li a {
  margin-left: 24px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 19px;
  text-align: left;
  color: #725c5c;
}

.menu {
  margin: -8px -8px 0 210px;
}

.header {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf1eb;
  color: #fff;
  font-weight: 600;
}

.header > div:nth-child(1) {
  margin-left: 36px;
}

.header > div:nth-child(2) {
  margin-right: 36px;
}

.header > div > p {
  color: #725c5c;
}

.header > div > p:nth-child(2) {
  font-size: 22px;
  line-height: 25.78px;
}

.header > div > p {
  font-size: 14px;
  line-height: 16.41px;
}

.header-login {
  display: flex;
}

.header-login > div {
  display: flex;
}

.header-login > div select {
  height: 34px;
  width: 117px;
  margin-right: 22px;
  background-color: transparent;
  border-radius: 4px;
  border-color: #cccccc;
}

.header-login > div select option {
  text-align: center;
}

.select-container {
  position: relative;
  display: inline-block;
}

.select-icon {
  position: absolute;
  top: 45%;
  left: 8px;
  transform: translateY(-50%);
  height: 20px; /* ajuste conforme necessário */
  pointer-events: none; /* para garantir que o ícone não interfira na interação do select */
}

.login-container > div {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 8px;
}

.login-container > div > p {
  font-family: Quicksand, sans-serif;
  line-height: 17.5px;
  font-weight: lighter;
  color: #333333;
}

.profile-contaier {
  position: relative;
}

.notification {
  position: absolute;
  width: 12px; /* Largura da esfera */
  height: 12px; /* Altura da esfera */
  background-color: #ff0000; /* Cor de fundo da esfera */
  border-radius: 50%; /* Isso arredonda as bordas para criar a forma de esfera */
}

.notification p {
  color: #fff;
  font-size: 11px;
  margin-left: 3px;
  margin-top: -3px;
}

.main-content {
  padding: 20px 31px;
  margin-left: 222px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.item {
  border: 1px solid black;
}

.title {
  grid-column: 1/3;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #ed7839;
}

.buttons {
  height: 68px;
}

.buttons > div:nth-child(1),
.buttons > div:nth-child(2) {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.buttons > div:nth-child(1) > div:nth-child(1) {
  width: 120px;
  height: 31px;
  padding: 6px, 12px;
  border-radius: 4px;
  gap: 5px;
  background-color: #ed7839;
}

.buttons > div:nth-child(1) > div:nth-child(2),
.buttons > div:nth-child(1) > div:nth-child(3) {
  width: 43px;
  height: 31px;
  padding: 6px, 12px;
  border-radius: 4px;
  gap: 5px;
  background-color: #ed7839;
}

.buttons > div:nth-child(2) p {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: right;
  color: #ed7839;
}

.banner {
  grid-column: 1/3;
}

.banner img {
  width: 100%; /* Faz a imagem ocupar toda a largura da div */
  height: 100%; /* Faz a imagem ocupar toda a altura da div */
  object-fit: cover; /* Mantém a proporção da imagem e cobre toda a div */
  //display: block;  /* Remove espaços em branco ao redor da imagem */
}

.details {
  display: flex;
  justify-content: end;
}

.details-template {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  height: 100%;
  width: 330px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.template-h3-content {
  height: 50px;
  background-color: #fdf1eb;
}

.template-h3 {
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  padding: 12px;
  border-bottom: 1px solid #cccccc;
}

.details-template div:nth-child(2) {
  height: 498px; /* Define a altura da div */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
  padding: 16px;
}

.resume,
.comments {
  grid-column: 1/4;
}

.resume-content {
  font-size: 16px;
  height: 100%;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.resume-content button {
  background-color: transparent;
  border: none;
  color: #ed7839;
  font-weight: bold;
  font-size: 16px;
  font-family: Quicksand, sans-serif;
  cursor: pointer;
}

.resume-content div:nth-child(2) {
  padding: 15px;
}

.resume-content-paragraph {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s ease;
}

.comments-content {
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.comments-send-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 224px;
  gap: 24px;
}

.comments-send-topic div:nth-child(1) {
  margin-top: 24px;
}

.comments-send-topic div:nth-child(2) {
  display: flex;
  gap: 48px;
}

.comments-send-topic div:nth-child(3) {
  width: 800px;
}

.comments-send-topic h4 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ed7839;
}

.comments-send-topic p {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.comments-send-topic button {
  background: none;
  border: none;
  cursor: pointer;
}

.custom-border {
  background-image: linear-gradient(
    to right,
    transparent 40px,
    #e7e7e7 0px,
    #e7e7e7 97%,
    transparent 90%
  );
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: bottom;
}

.comments-topics {
  margin-top: 16px;
  padding: 16px 24px;
}

.comments-topics > div {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}

.comments-topics div > h5 {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #ed7839;
}

.comments-topics div > p:nth-of-type(1) {
  font-family: Quicksand, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  color: #5c5c5c;
}

.comments-topics div > p:nth-of-type(2) {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0;
}

.topics-actions {
  display: flex;
  gap: 15px;
}

.topics-actions div {
  font-family: Segoe UI;
  font-size: 14px;
  line-height: 19px;
  color: #757575;
  font-weight: lighter;
}

footer {
  font-family: Quicksand, sans-serif;
  margin-left: 222px;
  margin-top: 48px;
}

footer > div {
  display: flex;
  align-items: center;
  border-top: 1px solid #e7e7e7;
  padding: 16px 0 0 16px;
}

footer div > div:nth-child(2) {
  margin: 0px 0 32px 32px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

#required-elements {
  h3 {
    margin-top: 15px;
  }
  h2,
  a {
    font-size: 12px;
  }
}
